@model List<FreschOne.Models.foReports>

<partial name="_Sidebar" />


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<h1>Reports</h1>
<a class="btn btn-primary mb-2" href="@Url.Action("Create")">Create New</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>@report.ReportName</td>
                <td>@report.ReportDescription</td>
                <td>
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Edit", new { id = report.ID })">Edit</a>
                    <form method="post" asp-action="Delete" asp-route-id="@report.ID" style="display:inline">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
